USE [master]
GO
/****** Object:  Database [AgroCulture]    Script Date: 06.11.2025 17:00:08 ******/
CREATE DATABASE [AgroCulture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroCulture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AgroCulture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroCulture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AgroCulture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroCulture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroCulture]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](64) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabins]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabins](
	[CabinId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Capacity] [int] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CabinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[CabinId] [int] NOT NULL,
	[GuestId] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Nights] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BookingsDetails]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ ПЕРЕСОЗДАТЬ ПРЕДСТАВЛЕНИЕ
CREATE VIEW [dbo].[BookingsDetails] AS
SELECT 
    b.BookingId,
    b.CheckInDate,
    b.CheckOutDate,
    b.Nights,
    b.TotalPrice,
    b.Status,
    b.CreatedAt,
    c.CabinId,
    c.Name AS CabinName,
    c.PricePerNight,
    c.Capacity,
    g.GuestId,
    g.FullName AS GuestName,
    g.Phone AS GuestPhone,
    g.Email AS GuestEmail,
    u.UserId AS CreatedByUserId,
    u.FullName AS CreatedByName
FROM Bookings b
INNER JOIN Cabins c ON b.CabinId = c.CabinId
INNER JOIN Guests g ON b.GuestId = g.GuestId
LEFT JOIN Users u ON b.CreatedBy = u.UserId;
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Icon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CabinAmenities]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabinAmenities](
	[CabinId] [int] NOT NULL,
	[AmenityId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CabinId] ASC,
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CabinsStatistics]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CabinsStatistics] AS
SELECT 
    c.CabinId,
    c.Name,
    c.Capacity,
    c.PricePerNight,
    c.IsAvailable,
    
    -- Удобства (через STRING_AGG - SQL Server 2017+)
    STRING_AGG(a.Name, ', ') AS Amenities,
    
    -- Статистика бронирований
    COUNT(DISTINCT b.BookingId) AS TotalBookings,
    SUM(CASE WHEN b.Status = 'active' THEN 1 ELSE 0 END) AS ActiveBookings,
    SUM(CASE WHEN b.Status = 'completed' THEN 1 ELSE 0 END) AS CompletedBookings,
    
    -- Финансовая статистика
    SUM(CASE WHEN b.Status = 'completed' THEN b.TotalPrice ELSE 0 END) AS TotalRevenue,
    SUM(CASE WHEN b.Status IN ('confirmed', 'active', 'completed') THEN b.Nights ELSE 0 END) AS TotalNightsBooked
    
FROM Cabins c
LEFT JOIN CabinAmenities ca ON c.CabinId = ca.CabinId
LEFT JOIN Amenities a ON ca.AmenityId = a.AmenityId
LEFT JOIN Bookings b ON c.CabinId = b.CabinId
GROUP BY c.CabinId, c.Name, c.Capacity, c.PricePerNight, c.IsAvailable;
GO
/****** Object:  View [dbo].[CabinsWithAmenities]    Script Date: 06.11.2025 17:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CabinsWithAmenities] AS
SELECT 
    c.CabinId,
    c.Name,
    c.Description,
    c.Capacity,
    c.PricePerNight,
    c.ImageUrl,
    c.IsAvailable,
    STRING_AGG(a.Name, ', ') AS AmenitiesList,
    STRING_AGG(a.Icon, ',') AS AmenitiesIcons
FROM Cabins c
LEFT JOIN CabinAmenities ca ON c.CabinId = ca.CabinId
LEFT JOIN Amenities a ON ca.AmenityId = a.AmenityId
GROUP BY c.CabinId, c.Name, c.Description, c.Capacity, c.PricePerNight, c.ImageUrl, c.IsAvailable;
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenityId], [Name], [Icon]) VALUES (1, N'Wi-Fi', N'Wifi')
INSERT [dbo].[Amenities] ([AmenityId], [Name], [Icon]) VALUES (2, N'Кухня', N'Silverware')
INSERT [dbo].[Amenities] ([AmenityId], [Name], [Icon]) VALUES (3, N'Камин', N'Fire')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [CabinId], [GuestId], [CheckInDate], [CheckOutDate], [Nights], [TotalPrice], [Status], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2025-10-28' AS Date), CAST(N'2025-10-30' AS Date), 2, CAST(7000.00 AS Decimal(10, 2)), N'confirmed', 2, CAST(N'2025-10-30T09:25:53.033' AS DateTime))
INSERT [dbo].[Bookings] ([BookingId], [CabinId], [GuestId], [CheckInDate], [CheckOutDate], [Nights], [TotalPrice], [Status], [CreatedBy], [CreatedAt]) VALUES (2, 2, 2, CAST(N'2025-10-27' AS Date), CAST(N'2025-11-03' AS Date), 7, CAST(35000.00 AS Decimal(10, 2)), N'active', 2, CAST(N'2025-10-30T09:25:53.033' AS DateTime))
INSERT [dbo].[Bookings] ([BookingId], [CabinId], [GuestId], [CheckInDate], [CheckOutDate], [Nights], [TotalPrice], [Status], [CreatedBy], [CreatedAt]) VALUES (3, 4, 3, CAST(N'2025-10-20' AS Date), CAST(N'2025-10-24' AS Date), 4, CAST(30000.00 AS Decimal(10, 2)), N'completed', 2, CAST(N'2025-10-30T09:25:53.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
INSERT [dbo].[CabinAmenities] ([CabinId], [AmenityId]) VALUES (1, 1)
INSERT [dbo].[CabinAmenities] ([CabinId], [AmenityId]) VALUES (2, 1)
INSERT [dbo].[CabinAmenities] ([CabinId], [AmenityId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Cabins] ON 

INSERT [dbo].[Cabins] ([CabinId], [Name], [Description], [Capacity], [PricePerNight], [ImageUrl], [IsAvailable], [CreatedAt], [IsActive]) VALUES (1, N'Домик "Березка"', N'Уютный домик с видом на лес', 4, CAST(3500.00 AS Decimal(10, 2)), NULL, 1, CAST(N'2025-10-30T09:25:53.023' AS DateTime), 1)
INSERT [dbo].[Cabins] ([CabinId], [Name], [Description], [Capacity], [PricePerNight], [ImageUrl], [IsAvailable], [CreatedAt], [IsActive]) VALUES (2, N'Домик "Рябина"', N'Просторный дом для большой семьи', 6, CAST(5000.00 AS Decimal(10, 2)), NULL, 1, CAST(N'2025-10-30T09:25:53.023' AS DateTime), 1)
INSERT [dbo].[Cabins] ([CabinId], [Name], [Description], [Capacity], [PricePerNight], [ImageUrl], [IsAvailable], [CreatedAt], [IsActive]) VALUES (3, N'Домик "Сосновый"', N'Романтичный домик для двоих', 2, CAST(2800.00 AS Decimal(10, 2)), NULL, 1, CAST(N'2025-10-30T09:25:53.023' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Cabins] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestId], [FullName], [Phone], [Email], [CreatedAt]) VALUES (1, N'Иванов Иван Иванович', N'+7 (999) 123-45-67', N'ivanov@mail.ru', CAST(N'2025-10-30T09:25:53.020' AS DateTime))
INSERT [dbo].[Guests] ([GuestId], [FullName], [Phone], [Email], [CreatedAt]) VALUES (2, N'Петрова Мария Сергеевна', N'+7 (999) 234-56-78', N'petrova@mail.ru', CAST(N'2025-10-30T09:25:53.020' AS DateTime))
INSERT [dbo].[Guests] ([GuestId], [FullName], [Phone], [Email], [CreatedAt]) VALUES (3, N'Сидоров Петр Алексеевич', N'+7 (999) 345-67-89', N'sidorov@mail.ru', CAST(N'2025-10-30T09:25:53.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Role], [Phone], [Email], [CreatedAt], [IsActive]) VALUES (1, N'admin', N'admin', N'Петров Петр Петрович', N'admin', N'+7 (999) 001-00-01', N'admin@lesusadba.ru', CAST(N'2025-10-30T09:25:53.017' AS DateTime), 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Role], [Phone], [Email], [CreatedAt], [IsActive]) VALUES (2, N'manager', N'1111', N'Иванова Мария Сергеевна', N'manager', N'+7 (999) 002-00-02', N'ivanova@lesusadba.ru', CAST(N'2025-10-30T09:25:53.017' AS DateTime), 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [Role], [Phone], [Email], [CreatedAt], [IsActive]) VALUES (3, N'guest', N'guest', N'Смирнов Алексей Петрович', N'guest', N'+7 (999) 003-00-03', N'smirnov@mail.ru', CAST(N'2025-10-30T09:25:53.017' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Amenitie__737584F6F70CB4A3]    Script Date: 06.11.2025 17:00:08 ******/
ALTER TABLE [dbo].[Amenities] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Amenities_Name]    Script Date: 06.11.2025 17:00:08 ******/
CREATE NONCLUSTERED INDEX [IX_Amenities_Name] ON [dbo].[Amenities]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Cabin]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Cabin] ON [dbo].[Bookings]
(
	[CabinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Dates]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Dates] ON [dbo].[Bookings]
(
	[CheckInDate] ASC,
	[CheckOutDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Guest]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Guest] ON [dbo].[Bookings]
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Status]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Status] ON [dbo].[Bookings]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CabinAmenities_Amenity]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_CabinAmenities_Amenity] ON [dbo].[CabinAmenities]
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CabinAmenities_Cabin]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_CabinAmenities_Cabin] ON [dbo].[CabinAmenities]
(
	[CabinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cabins__737584F662DC2896]    Script Date: 06.11.2025 17:00:09 ******/
ALTER TABLE [dbo].[Cabins] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cabins_Available]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Cabins_Available] ON [dbo].[Cabins]
(
	[IsAvailable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cabins_Name]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Cabins_Name] ON [dbo].[Cabins]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Guests__5C7E359EE9C42AC2]    Script Date: 06.11.2025 17:00:09 ******/
ALTER TABLE [dbo].[Guests] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Guests_Name]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Guests_Name] ON [dbo].[Guests]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Guests_Phone]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Guests_Phone] ON [dbo].[Guests]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4AF64AAEE]    Script Date: 06.11.2025 17:00:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 06.11.2025 17:00:09 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cabins] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Cabins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CabinId])
REFERENCES [dbo].[Cabins] ([CabinId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([GuestId])
REFERENCES [dbo].[Guests] ([GuestId])
GO
ALTER TABLE [dbo].[CabinAmenities]  WITH CHECK ADD FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([AmenityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CabinAmenities]  WITH CHECK ADD FOREIGN KEY([CabinId])
REFERENCES [dbo].[Cabins] ([CabinId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CabinAmenities]  WITH CHECK ADD  CONSTRAINT [FK_CabinAmenities_Amenities] FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([AmenityId])
GO
ALTER TABLE [dbo].[CabinAmenities] CHECK CONSTRAINT [FK_CabinAmenities_Amenities]
GO
ALTER TABLE [dbo].[CabinAmenities]  WITH CHECK ADD  CONSTRAINT [FK_CabinAmenities_Cabins] FOREIGN KEY([CabinId])
REFERENCES [dbo].[Cabins] ([CabinId])
GO
ALTER TABLE [dbo].[CabinAmenities] CHECK CONSTRAINT [FK_CabinAmenities_Cabins]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Nights]>(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='completed' OR [Status]='active' OR [Status]='confirmed' OR [Status]='pending'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([TotalPrice]>(0)))
GO
ALTER TABLE [dbo].[Cabins]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Cabins]  WITH CHECK ADD CHECK  (([PricePerNight]>(0)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='guest' OR [Role]='manager' OR [Role]='admin'))
GO
USE [master]
GO
