USE [master]
GO
/****** Object:  Database [AgroCulture]    Script Date: 11.11.2025 11:26:49 ******/
CREATE DATABASE [AgroCulture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroCulture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AgroCulture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroCulture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AgroCulture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroCulture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroCulture]
GO
/****** Object:  Table [dbo].[Cabins]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabins](
	[CabinId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[MaxGuests] [int] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CabinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CabinAmenities]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabinAmenities](
	[AmenityId] [int] NOT NULL,
	[CabinId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityId] ASC,
	[CabinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CabinsWithAmenities]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: CabinsWithAmenities
CREATE VIEW [dbo].[CabinsWithAmenities] AS
SELECT
    c.CabinId,
    c.Name,
    c.Description,
    c.MaxGuests,
    c.PricePerNight,
    c.ImageUrl,
    c.IsActive,
    STUFF((
        SELECT ', ' + a.Name
        FROM CabinAmenities ca
        INNER JOIN Amenities a ON ca.AmenityId = a.AmenityId
        WHERE ca.CabinId = c.CabinId
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Amenities
FROM Cabins c
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](64) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[CabinId] [int] NOT NULL,
	[GuestId] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[Nights] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BookingsDetails]    Script Date: 11.11.2025 11:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Создаём новое представление со ВСЕМИ полями
CREATE VIEW [dbo].[BookingsDetails] AS
SELECT
    -- Поля из Bookings
    b.BookingId,
    b.CheckInDate,
    b.CheckOutDate,
    b.Nights,
    b.TotalPrice,
    b.Status,
    b.CreatedAt,

    -- Поля из Cabins
    c.CabinId,
    c.Name AS CabinName,
    c.PricePerNight,
    c.MaxGuests AS Capacity,  -- ⚠️ ВАЖНО: используем MaxGuests, но называем Capacity для совместимости с моделью

    -- Поля из Guests (отдельные + полное имя)
    g.GuestId,
    g.Surname AS GuestSurname,
    g.FirstName AS GuestFirstName,
    g.MiddleName AS GuestMiddleName,
    (g.Surname + ' ' + g.FirstName + ISNULL(' ' + g.MiddleName, '')) AS GuestFullName,
    g.Phone AS GuestPhone,
    g.Email AS GuestEmail,

    -- Поля из Users (кто создал бронирование - отдельные + полное имя)
    u.UserId AS CreatedByUserId,
    u.Surname AS CreatedBySurname,
    u.FirstName AS CreatedByFirstName,
    u.MiddleName AS CreatedByMiddleName,
    (u.Surname + ' ' + u.FirstName + ISNULL(' ' + u.MiddleName, '')) AS CreatedByFullName

FROM Bookings b
INNER JOIN Cabins c ON b.CabinId = c.CabinId
INNER JOIN Guests g ON b.GuestId = g.GuestId
LEFT JOIN Users u ON b.CreatedBy = u.UserId;
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenityId], [Name]) VALUES (1, N'Wi-Fi')
INSERT [dbo].[Amenities] ([AmenityId], [Name]) VALUES (2, N'Кухня')
INSERT [dbo].[Amenities] ([AmenityId], [Name]) VALUES (3, N'Камин')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [CabinId], [GuestId], [CheckInDate], [CheckOutDate], [Nights], [TotalPrice], [Status], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2025-11-15' AS Date), CAST(N'2025-11-18' AS Date), 3, CAST(10500.00 AS Decimal(10, 2)), N'active', 1, CAST(N'2025-11-10T08:16:14.267' AS DateTime))
INSERT [dbo].[Bookings] ([BookingId], [CabinId], [GuestId], [CheckInDate], [CheckOutDate], [Nights], [TotalPrice], [Status], [CreatedBy], [CreatedAt]) VALUES (2, 2, 4, CAST(N'2025-11-11' AS Date), CAST(N'2025-11-12' AS Date), 1, CAST(5000.00 AS Decimal(10, 2)), N'completed', 4, CAST(N'2025-11-11T03:02:25.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
INSERT [dbo].[CabinAmenities] ([AmenityId], [CabinId]) VALUES (1, 1)
INSERT [dbo].[CabinAmenities] ([AmenityId], [CabinId]) VALUES (1, 2)
INSERT [dbo].[CabinAmenities] ([AmenityId], [CabinId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Cabins] ON 

INSERT [dbo].[Cabins] ([CabinId], [Name], [Description], [MaxGuests], [PricePerNight], [ImageUrl], [IsActive]) VALUES (1, N'Лесной уют', N'Уютный домик в сосновом бору', 4, CAST(3500.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Cabins] ([CabinId], [Name], [Description], [MaxGuests], [PricePerNight], [ImageUrl], [IsActive]) VALUES (2, N'Озерная дача', N'Домик с видом на озеро', 6, CAST(5000.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Cabins] ([CabinId], [Name], [Description], [MaxGuests], [PricePerNight], [ImageUrl], [IsActive]) VALUES (3, N'Горный приют', N'Комфортный домик в горах', 8, CAST(7000.00 AS Decimal(10, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[Cabins] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestId], [Surname], [FirstName], [MiddleName], [Phone], [Email], [CreatedAt]) VALUES (1, N'Козлов', N'Иван', N'Петрович', N'+7 (999) 111-11-11', N'kozlov@mail.ru', CAST(N'2025-11-10T08:16:14.233' AS DateTime))
INSERT [dbo].[Guests] ([GuestId], [Surname], [FirstName], [MiddleName], [Phone], [Email], [CreatedAt]) VALUES (2, N'Морозова', N'Анна', N'Ивановна', N'+7 (999) 222-22-22', N'morozova@mail.ru', CAST(N'2025-11-10T08:16:14.233' AS DateTime))
INSERT [dbo].[Guests] ([GuestId], [Surname], [FirstName], [MiddleName], [Phone], [Email], [CreatedAt]) VALUES (3, N'Соколов', N'Дмитрий', N'Александрович', N'+7 (999) 333-33-33', N'sokolov@mail.ru', CAST(N'2025-11-10T08:16:14.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Surname], [FirstName], [MiddleName], [Role], [Phone], [Email], [CreatedAt], [IsActive]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Петров', N'Петр', N'Петрович', N'admin', N'+7 (999) 001-00-01', N'admin@lesusadba.ru', CAST(N'2025-11-10T08:16:14.110' AS DateTime), 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Surname], [FirstName], [MiddleName], [Role], [Phone], [Email], [CreatedAt], [IsActive]) VALUES (3, N'guest', N'84983c60f7daadc1cb8698621f802c0d9f9a3c3c295c810748fb048115c186ec', N'Смирнов', N'Алексей', N'Петрович', N'guest', N'+7 (999) 003-00-03', N'smirnov@mail.ru', CAST(N'2025-11-10T08:16:14.110' AS DateTime), 1)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Surname], [FirstName], [MiddleName], [Role], [Phone], [Email], [CreatedAt], [IsActive]) VALUES (4, N'manager', N'0ffe1abd1a08215353c233d6e009613e95eec4253832a761af28ff37ac5a150c', N'Менеджеров', N'Менеджер', N'Менеджерович', N'manager', N'+7 (900) 123-45-67', N'manager@agroculture.ru', CAST(N'2025-11-10T22:28:29.663' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Bookings_Dates]    Script Date: 11.11.2025 11:26:49 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Dates] ON [dbo].[Bookings]
(
	[CheckInDate] ASC,
	[CheckOutDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Status]    Script Date: 11.11.2025 11:26:49 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Status] ON [dbo].[Bookings]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cabins_Name]    Script Date: 11.11.2025 11:26:49 ******/
CREATE NONCLUSTERED INDEX [IX_Cabins_Name] ON [dbo].[Cabins]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 11.11.2025 11:26:49 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 11.11.2025 11:26:49 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cabins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CabinId])
REFERENCES [dbo].[Cabins] ([CabinId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([GuestId])
REFERENCES [dbo].[Guests] ([GuestId])
GO
ALTER TABLE [dbo].[CabinAmenities]  WITH CHECK ADD FOREIGN KEY([AmenityId])
REFERENCES [dbo].[Amenities] ([AmenityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CabinAmenities]  WITH CHECK ADD FOREIGN KEY([CabinId])
REFERENCES [dbo].[Cabins] ([CabinId])
ON DELETE CASCADE
GO
USE [master]
GO
